@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
</div>
<div class="text-center">
    <a href="@Url.Action("Index", "VisoesCliente")" class="btn btn-primary">Clientes</a>
</div>
<br />
<div class="text-center">
    <a href="@Url.Action("Index", "VisoesContrato")" class="btn btn-primary">Contratos</a>
</div>